
<div class="card" *ngIf = "post"  style="background-color:#DFEAED;">  
    <div class="card-header">
       <img src="/assets/user.png" user-img  alt = "image" > {{ post.member.name}}
    </div>   
    <div class="card-block">
        <strong class="card-title" >{{post.subject}}</strong><br>  
        <span class="card-text" >{{post.content}}</span> 
    </div>  
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a>Like</a>   
                <a>Comments {{ post.no_of_comment}}</a>
            </li>
        </ul>
    </div>        
</div>

<ul class="list-group" *ngIf="post.comments">   
    <li class="list-group-item" *ngFor="let comment of post.comments">
        <div (click) = "onClickUpdateComment(comment.idx, comment.content)">
            <img src="/assets/user.png" user-img  alt = "image" >
            <div>{{comment.content}}</div>
        </div>
    </li>
 </ul>    

