    <article class="card ">
        <header class="card-header ">
            <h6> 
                <img src="/assets/user.png" user-img  alt = "image" > {{ post.member.id | HTMLCHAR}}
                <span *ngIf="isOwnByUser">
                    <a class="fa fa-trash" (click)="onClickDeletePost(post.idx)"></a>
                    <a class="fa fa-edit" (click)="onClickEditPost(post.idx)"></a>
                </span>
            </h6>  
        </header>
        
        <div class="card-block">       
            <strong class="card-title" >{{post.subject | HTMLCHAR}}</strong><br> 
            <p  class="card-text" >{{post.content}}</p>
        </div>
        <ul class="list-group list-group-flush" >   
             <li class="list-group-item" *ngIf = "post.no_of_comment">
                <a class="small">
                    Comments 
                    <span class="badge" >
                        {{post.no_of_comment}} 
                    </span>
                </a>   
                &nbsp;
            </li>      
            <li class="list-group-item" nowrap>
                <a class="fa fa-thumbs-o-up  small card-link"> Like </a> &nbsp;
                <a class="fa fa-comments-o  small card-link" (click)="onClickShowComment()">Comments </a> &nbsp;
                <a class="fa fa-share  small card-link" aria-hidden="true">Share</a> &nbsp;
            </li>
                       
         </ul>  
         <footer class="card-footer">          
                    <span  class="fa fa-user-circle-o" user-img></span>
                    <span  class="small"><strong>{{ session.login.id}}</strong></span>
                    <input type="text" *ngIf="!creatingComment" 
                           class="form-control small" 
                           [(ngModel)] = "writeComment" 
                           (keydown)="onEnterWriteComment($event)" 
                           placeholder="Write comment...">          
         </footer>
      
     </article> 
      <div class="list-group-item" *ngIf="post.comments" >
                <span class="text-primary small" *ngIf="post.no_of_comment" (click)="onClickShowComment()">
                    <strong >Comments </strong>
                </span>
                <span class="text-primary small" *ngIf="!post.no_of_comment">
                    <strong >No comments </strong>
                </span>
              
                <app-comment-list  class="row"
                    [show] = "showComments"                             
                    [postId]= "post.post_id" 
                    [idxParent] = "post.idx" 
                    [comments] = "post.comments" 
                    (commentDeleted)="onCommentDeleted($event)"
                    >
                </app-comment-list> 
                 
            </div>  
     
    