



<template #commentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Comments</h4>
  </div>
  <div class="modal-body">        
    <a (click)="onClickToggleComment()">Comment</a> 
        <div class="form-group">
            <ul class="list-group" *ngIf="comments">   
                <li class="list-group-item" *ngFor="let comment of comments">
                    <div (click) = "onClickUpdateComment(comment.idx, comment.content)">
                        <img src="/assets/user.png" user-img  alt = "image" >
                        <div>{{comment.content}}</div>
                    </div>                 
                    <button (click)="onClickDelete(comment.idx)">Delete</button>
                    <button (click)="onClickEditComment(comment.idx, comment.content)">Edit</button>
                </li>
            </ul>                                     
        </div>
        <input type="text" class="form-control" [(ngModel)]="comment" placeholder=" write comment...">  
        <button  *ngIf = "!updateIdx" (click)="onClickCreate()">Add</button>
        <button  *ngIf = "updateIdx"  (click)="onClickSaveUpdate()">Save</button>
        <button  *ngIf = "updateIdx"  (click)="onClickCancelUpdate()">Cancel</button>
  </div> 
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>
<label class=" btn-outline-primary" (click)="open(commentModal)">Comments</label>
