

<div class="form-group" *ngIf = "comment['idx']">
    <!--<img src="/assets/user.png" user-img  alt = "image" > -->
    <span class="fa fa-user-circle-o" user-img></span>
   <span class="small" ><strong  [innerHTML] = "comment['member']['id']"></strong></span>  &nbsp; &nbsp;
    <span class="small" [innerHTML] = "comment['content']" ></span>
      &nbsp;
      <span class=" text-danger small" *ngIf = "deleting" >deleting...</span>
       &nbsp; &nbsp; &nbsp; &nbsp; 
     <span *ngIf="isOwnByUser">   
            <br>
            <span class="fa fa-pencil-square-o text-primary" *ngIf = "!deleting"  (click)="onClickEdit()"></span>  
            <span class="fa fa-trash" *ngIf = "!deleting" (click)="onClickDelete()"></span>
      </span>
     
     
</div>










