

<div>
  <h2>FORUM TOPIC</h2>
    <button (click)="onClickAddPost()">Add Post</button>    
</div>

<div *ngFor = "let post of posts.posts">     
      <div class="form-group">
          <h4> <img src="/assets/user.png" user-img  alt = "image" > </h4>    
          <p>{{ post.content }}</p>    
          <a>Like</a>      
          <button (click) =  "onClickEdit(post.idx)">Edit Post</button> 
          <button (click) =  "onClickDeletePost(post.idx)">Delete Post</button>           
      </div>    
    
      <app-comment [postId] = "postId" [comments]= "post.comments" [show]="showComments" [idx] = "post.idx" (onAdd)="onClickAddComment($event)" ></app-comment> 
      <hr>
</div>

