<div>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="onClickDismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="modal-title">
      <span class="fa fa-user-circle-o" user-img></span>
      <span class="text-primary">
        {{ comment['member']['id'] }}
      </span>
    </h5>
    
  </div>
  <div class="modal-body">
     
        <div class="form-group">  
           <input class="form-control" type="text" [(ngModel)]="comment['content']"><br>        
        </div>
    
  </div>
  <div class="modal-footer">
    <button *ngIf = "comment['idx']"  type="button" class="btn btn-secondary" (click)="onClickSave()">Save</button>
    <button *ngIf = "!comment['idx']" type="button" class="btn btn-secondary" >Submit</button>
  </div>
</div>